@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400');

html {
    height: 100%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    height: 100%;
}

.header {
    height: 80vh;
    background-image: url("../images/garage-943249_1280.jpg");
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.services__section {
    background-color: rgb(206,32,38);
    color: white;
    width: 100%;
    height: 133px;
}

.services__area {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__container {
    width: 200px;
    text-align: left;
    padding: 0 50px 0 30px;
    border-right: 1px white solid;
}

.services__container:last-of-type {
    border: none;
    padding-right: 35px;
}

.services__title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.services__description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
    line-height: 1;
    font-size: 0.9em;
}

.visit__area {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0;
}

.visit__textcontainer {
    max-width: 45%;
    text-align: center;
}

.visit__title {
    text-transform: uppercase;
    font-size: 1.7em;
}

.visit__text {
    font-weight: 200;
}

.visit__imagecontainer {
    max-width: 35%;
}

.visit__image-title {
    background-color: rgb(206,32,38);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 3;
    width: 300px;
    height: 50px;
    position: relative;
    top: -200px;
}

.visit__image-title:hover {
    background-color: rgb(137,21,25);
    transition: all 0.25s;
}

.visit__link {
    text-decoration: none;
}

.offers__section {
    background-color: #EFF0E5
}

.offers__area {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
}

.brands__area {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer {
    background-color: rgb(206,32,38);
    color: white;
    width: 100%;
    height: 133px;
}

.footer__top {
    background-color: rgb(206,32,38);
}

.footer__toparea {
    max-width: 980px;
    margin: 0 auto;
    /* padding: 50px 0; */
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer__bottom {
    background-color: #2F2E2E
}

.footer__bottomarea {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.footer__container {
    width: 200px;
    text-align: left;
    padding: 0 50px 0 30px;
    border-right: 1px white solid;
}

.footer__bottomarea .footer__container {
    border: none;
}

.footer__container:last-of-type {
    border: none;
    padding-right: 35px;
}

.footer__title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer__title-dim {
    margin-top: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
}

.footer__description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
    line-height: 1;
    font-size: 0.9em;
}

.footer__link {
    font-weight: 200;
    font-size: 0.9em;
    display: block;
    color: rgba(255,255,255,0.6);;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__list {
    margin-top: 0px;
    list-style-type: disc;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
    line-height: 1.2;
    font-size: 0.9em;    
}

.navbar {
    position: absolute;
    width: 100%;
    top: 30px;
    background-color: white;
}

.navbar__container {
    max-width: 980px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}

.navbar__brand {
    max-height: 80px;
}

.navbar__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__item {
    padding: 10px 30px;
}

.navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    color: slategray;
}

.navbar__link:hover {
    color: rgb(206,32,38);
}